<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

    <style type="text/css">


    body
    {
    	background-color: #6666FF;
    }

    h1
    {
    	font-weight: 1.4em;
    }

    .food-list
    {
    	list-style: none;

    }

    .food-group
    {

    	list-style: none;
    }

    .food-group ul
    {
    	list-style: none;
    }

    </style>

  </head>
  <body>
	<h1 class="header">FoodBook</h1>
	<form role="form">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-cutlery"></span></span>
		    <input type="text" class="form-control" id="foodInput" placeholder="pizza" autofocus>
		</div>
	</form>

	<ul class="food-list">
		<li class="food-group">
			<ul>
				<li class="food-item">



				</li>
			</ul>
		</li>
	</ul>

  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
    <script src="/javascripts/places.js"></script>
  </body>
</html>
