<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link href='http://fonts.googleapis.com/css?family=Rambla:400,700italic' rel='stylesheet' type='text/css'>
    <style type="text/css">


    *
    {
    	border-top-right-radius: 0px !important;
		border-top-left-radius: 0px !important;

    	border-bottom-right-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
    }

    body
    {
    }


    .head
    {
    	min-width: 100%;
    	width: 100%;
    	background-color: #4575D4;
    	text-align: center;

    	padding-bottom: 6px;
    }

    .panel-body {
		padding: 0 !important;
	}

    h1
    {
    	font: bold italic;
    	font-family: 'Rambla', sans-serif;
    	font-weight: 900 !important;
    	color: #FFF;
    	margin-top: 0;
    	margin-bottom: 0;
    	padding-top: 18px;
    }

    </style>

  </head>
  <body>
  	<div class="head">
		<h1>the foodbook</h1>
		<img src="/images/powered-by-google-on-non-white.png"></img>
  	</div>
	<form role="form">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-cutlery"></span></span>
		    <input type="text" class="form-control" id="foodInput" placeholder="pizza" autofocus>
		</div>
	</form>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      <h4 class="panel-title">
          Best
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

	<div class="list-group">
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">Food Place</h4>
	    <p class="list-group-item-text">Stuff</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">Food Place</h4>
	    <p class="list-group-item-text">Stuff</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">Food Place</h4>
	    <p class="list-group-item-text">Stuff</p>
	  </a>
	</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
      <h4 class="panel-title">
          Fastest
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">

	<div class="list-group">
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">Food Place</h4>
	    <p class="list-group-item-text">Stuff</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">Food Place</h4>
	    <p class="list-group-item-text">Stuff</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">Food Place</h4>
	    <p class="list-group-item-text">Stuff</p>
	  </a>
	</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
      <h4 class="panel-title">
           Cheapest
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
    
	<div class="list-group">
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">Food Place</h4>
	    <p class="list-group-item-text">Stuff</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">Food Place</h4>
	    <p class="list-group-item-text">Stuff</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">Food Place</h4>
	    <p class="list-group-item-text">Stuff</p>
	  </a>
	</div>
      </div>
    </div>
  </div>
</div>
    
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/collapse.js"></script>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtj8Ryh3t-hUlFkBx2faLB-ohqs6iGkn8&libraries=places&sensor=true"></script>-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtj8Ryh3t-hUlFkBx2faLB-ohqs6iGkn8&sensor=true"></script>
    <script type="text/javascript" src="//javascripts/places.js"></script>

    <script type="text/javascript">
    $(".accordion").collapse()
    </script>
  </body>
</html>
