<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link href='http://fonts.googleapis.com/css?family=Rambla:400,700italic' rel='stylesheet' type='text/css'>
	<style type="text/css">


	*
	{
		border-top-right-radius: 0px !important;
		border-top-left-radius: 0px !important;

		border-bottom-right-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
	}

	body
	{
	}


	.head
	{
		min-width: 100%;
		width: 100%;
		background-color: #4575D4;
		text-align: center;

		padding-bottom: 6px;
	}

	.panel-body {
		padding: 0 !important;
	}

	.list-group {

		margin: 0 !important;

	}

	.info-button {

		font-size: 34px;
	}

	.call-btn {

		margin-left: 15px;
		margin-top: 3px;
	}
	.food-attribute
	{

		font-size: 15px;
		font-weight: bold;
		margin-bottom: 5px;
	}


	#foodList{
		display:none;
	}

	h1
	{
		font: bold italic;
		font-family: 'Rambla', sans-serif;
		font-weight: 900 !important;
		color: #FFF;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 18px;
	}

	</style>

</head>
<body>





  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        	<h4 class="modal-title">Food Place</h4>
        </div>
        <div class="modal-body">

        	<span class="food-attribute">Website:</span>
        	<a class="pull-right" href="http://www.pizzahut.com">http://pizzahut.com</a><br/>
        	<span class="food-attribute">Address:</span><br/>
        	<div class="well well-sm">
        		1434 W MasheryContext IO,<br/>
        		Denver, Colorado
        	</div>
        	<button type="button" data-number="17853831049" class="call-btn-lg btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-earphone"></span>(404) 993-3993</button> 
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->










	<div class="head">
		<h1>the foodbook</h1>
		<img src="/images/powered-by-google-on-non-white.png"></img>
	</div>


	<form id="food-search" role="form">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-cutlery"></span></span>
			<input type="text" class="form-control" id="foodInput" placeholder="Type of food you want... pizza, mexican, bbq...." autofocus>
			<input style="display:none" type="submit"/>
		</div>
	</form>

	<div class="panel-group" id="foodList">
		<div class="panel panel-default">
			<div class="panel-heading" data-toggle="collapse" data-parent="#foodList" href="#bestGroup">
				<h4 class="panel-title">
					Best
				</h4>
			</div>
			<div id="bestGroup" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="list-group"><!--
						<a href="#" class="list-group-item food-place">
							<button type="button" data-number="17853831049" class="call-btn btn btn-success pull-right"><span class="glyphicon glyphicon-earphone"></span></button>
							<span data-toggle="modal" href="#myModal" class="pull-right glyphicon glyphicon-book info-button"></span>
							<h4 class="list-group-item-heading">Food Place</h4>
							<p class="list-group-item-text">Stuff</p>
						</a>
						<a href="#" class="list-group-item">
							<button type="button" data-number="17853831049" class="call-btn btn btn-success pull-right"><span class="glyphicon glyphicon-earphone"></span></button>
							<span data-toggle="modal" href="#myModal" class="pull-right glyphicon glyphicon-book info-button"></span>
							<h4 class="list-group-item-heading">Food Place</h4>
							<p class="list-group-item-text">Stuff</p>
						</a>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/collapse.js"></script>
	<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtj8Ryh3t-hUlFkBx2faLB-ohqs6iGkn8&libraries=places&sensor=true"></script>-->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtj8Ryh3t-hUlFkBx2faLB-ohqs6iGkn8&sensor=true"></script>
	<!--<script type="text/javascript" src="/javascripts/places.js"></script>-->

	<script type="text/javascript">
	$(document).on("ready", function() {

		$(".call-btn, .call-btn-lg").on("click", function() {

			var number = $(this).data("number");

			window.location = "tel:"+number;

		});



		var search = function(location, food)
		{
			$("#foodInput").blur();


			$.post("places", {location: location, food: food}).done(function(data) {

				for (var i = data.results.length - 1; i >= 0; i--) {
					
					//if not open, ignore.
					if(typeof data.results[i].opening_hours !== 'undefined' && !data.results[i].opening_hours.open_now)
					{
						continue;
					}

					$("#bestGroup").find(".list-group").append("<a href='#' class='list-group-item food-place' data-address='"+data.results[i].vicinity+"' data-name='"+data.results[i].name+"'><button type='button' data-number='17853831049' class='call-btn btn btn-success pull-right'><span class='glyphicon glyphicon-earphone'></span></button><span data-toggle='modal' href='#myModal' class='pull-right glyphicon glyphicon-book info-button'></span><h4 class='list-group-item-heading'>"+data.results[i].name+"</h4><p class='list-group-item-text'>"+data.results[i].vicinity+"</p></a>");

				}

				$("#foodList").show(700);
				$("#foodList").collapse();

			}).error(function(err) {

			});

		};


		$("#food-search").on('submit', function(e) {


			e.preventDefault();
			var food = $("#foodInput").val();



	        if(navigator.geolocation) {
	            browserSupportFlag = true;
	            navigator.geolocation.getCurrentPosition(function(position) {
	            	console.log();
               		
               		search(position.coords.latitude + "," + position.coords.longitude, food);
	            }, function() {
	                //todo prompt for zip
	            });
	        }

		});

	});
	</script>
</body>
</html>
