<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    
  </head>
  <body>
	<h1>FoodBook</h1>
	<form role="form">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-cutlery"></span></span>
		    <input type="text" class="form-control" id="foodInput" placeholder="pizza" autofocus>
		</div>
	</form>

	<ul class="food-list">

		<li class="food-group">
			<ul>
				<li class="food-item">



				</li>

			</ul>
			

		</li>

	</ul>
    <canvas id='map'></canvas>
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtj8Ryh3t-hUlFkBx2faLB-ohqs6iGkn8&libraries=places&sensor=true"></script>-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtj8Ryh3t-hUlFkBx2faLB-ohqs6iGkn8&sensor=true"></script>
    <script type="text/javascript" src="//javascripts/places.js"></script>
  </body>
</html>
