<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

    <style type="text/css">


    body
    {
    	background-color: #5FBDCE;
    }

    h1
    {
    	font-weight: 900 !important;
    	color: #FFF;

    }

    </style>

  </head>
  <body>
	<h1>FoodBook</h1>
	<form role="form">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-cutlery"></span></span>
		    <input type="text" class="form-control" id="foodInput" placeholder="pizza" autofocus>
		</div>
	</form>

	<div class="list-group">
	  <a href="#" class="list-group-item active">
	    <h4 class="list-group-item-heading">Food Place</h4>
	    <p class="list-group-item-text">Stuff</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">Food Place</h4>
	    <p class="list-group-item-text">Stuff</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">Food Place</h4>
	    <p class="list-group-item-text">Stuff</p>
	  </a>
	</div>

  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
    <script src="/javascripts/places.js"></script>
  </body>
</html>
